*{
  margin:0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
html{
  font-family: Poppins;
}
body{
  max-height: auto;
  max-width: 100%;
  background-color: #CF7B7B;
}
.name{
  left: 51%;
  top: 25%;
  position: absolute;
  font-size: 35px;
  font-weight: bolder;
  text-transform: uppercase;
 
  
}
.types p{ 
  left: 53%;
  top: 80%;
  position: absolute;
  font-size: 25px;
  font-weight: bolder;
  text-transform: capitalize;
}
.weight{
  left: 70%;
  top: 655px;
  position: absolute;
  font-size: 22px;
  font-weight: bold;
}
.stats{
  left: 70%;
  top: 37.5%;
  position: absolute;
  font-size: 22px;
  font-weight: bold;
}
.index {
  left: 20.8%;
  top: 28%;
  font-size: 35px;
  position: absolute;
  font-weight: bold;
}
.artwork > img{
  position: absolute;
  left: 25%;
  top: 30%;
  width: 350px;
  height: auto;
}
.sprit > img{
  position: absolute;
  left: 21%;
  top: 64%;
  width: 150px;
  height: auto;
}
.ability {
  text-transform: capitalize;
  left: 70%;
  top: 260px;
  position: absolute;
  font-size: 25px;
  font-weight: bold;
}
.entry{
  width: 180px;
  left: 55%;
  top: 470px;
  position: absolute;
  font-size: 14px;
  font-weight: 700;
}
div img{
  margin-top: 2%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 63%;
}
div ul .title {
  display:inline-block;
  margin: 20px;
  font-size: 25px;
  
}
div.form{
    display: block;
    text-align: center;
}
form{
    margin-top: 25px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
div form label{
  display: block;
  text-align: center;
  font-size: 2rem ;
  margin-bottom: 15px;
}
div form input{
  border-radius: 30px;
  border: none;
  background-color: #D8A5A5;
  text-align: center;
  padding:15px;
  width: 20em;
  font-size: 1.5em;
}
::placeholder {
  color: #F2EAEA;
  opacity: 0.7;
}
div .right{
  position: absolute;
  width: 70px;
  height: auto;
  right: 2%;
  top: 35%;
  cursor: pointer;
  
}
div .left{
  position: absolute;
  width: 70px;
  height: auto;
  left: 2%;
  top: 35%;
  cursor: pointer;
}

@media screen and (max-width: 1669px) {
  .sprit > img{
    top: 58%;
    width: 130px;
  }
  .artwork > img{
    top: 25%;
    width: 345px;
  }
  .weight{
    top: 60%;
    font-size: 22px;
  }
  .name{
    top: 24%;
    font-size: 25px;
  }
  .types p{
    top: 72%;
    font-size: 20px;
  }
  .stats{
    top: 34.5%;
    font-size: 19px;
  }
  .index {
    top: 26%;
    font-size: 29px;
  }
}
@media screen and (max-width:1663px){
  .sprit > img{
    top: 56%;
    width: 130px;
  }
}

@media screen and (max-width:1660px){
  .sprit > img{
    top: 55%;
    width: 130px;
  }
  .artwork > img{
    top: 24%;
    width: 343px;
  }
  .index {
    top: 25%;
    font-size: 28px;
  }
  .weight{
    top: 58%;
    font-size: 21px;
  }
  .name{
    top: 23%;
    font-size: 23px;
  }
  .types p{
    top: 70%;
    font-size: 20px;
  }
  .stats{
    top: 33.5%;
    font-size: 18px;
  }
}
@media screen and (max-width:1600px){
  .sprit > img{
    top: 54%;
    width: 130px;
  }
  .artwork > img{
    top: 23%;
    width: 342px;
  }
  .index {
    font-size: 26px;
  }
  .weight{
    top: 56%;
    font-size: 21px;
  }
  .types p{
    top: 68%;
    font-size: 20px;
  }
}
@media screen and (max-width:1500px){
  .sprit > img{
    top: 51%;
    width: 130px;
  }
  .artwork > img{
    top: 21%;
    width: 340px;
  }
  .index {
    font-size: 25px;
  }
  .stats{
    top: 31.5%;
    font-size: 18px;
  }
  .weight{
    top: 54%;
    font-size: 21px;
  }
  .types p{
    top: 66%;
    font-size: 20px;
  }
}
@media screen and (max-width:1430px){
  .sprit > img{
    top: 50%;
    width: 120px;
  }
  .artwork > img{
    top: 22%;
    width: 300px;
  }
  .index {
    font-size: 24px;
  }
  .stats{
    top: 30.5%;
    font-size: 17px;
  }
  .weight{
    top: 53%;
    font-size: 21px;
  }
  .types p{
    top: 64%;
    font-size: 20px;
  }
}
@media screen and (max-width:1370px){
  .artwork > img{
    top: 21%;
    width: 295px;
  }
  .stats{
    top: 30.3%;
    font-size: 15px;
  }
  .weight{
    top: 52%;
    font-size: 21px;
  }
  .types p{
    top: 62%;
    font-size: 20px;
  }
}
@media screen and (max-width:1314px){
  .sprit > img{
    top: 49%;
    width: 115px;
  }
  .artwork > img{
    top: 21%;
    width: 250px;
  }
  .stats{
    top: 30%;
    font-size: 15px;
  }
  .weight{
    top: 50%;
    font-size: 21px;
  }
  .types p{
    top: 61%;
    font-size: 17px;
  }
}
@media screen and (max-width:1280px){
  .sprit > img{
    top: 47%;
    width: 114px;
  }
  .index {
    font-size: 23px;
  }
  .weight{
    top: 48%;
    font-size: 21px;
  }
  .types p{
    top: 59%;
    font-size: 17px;
  }
}
@media screen and (max-width:1230px){
  .sprit > img{
    top: 46%;
    width: 110px;
  }
  .index {
    top: 23%;
    font-size: 20px;
  }
  .name{
    top: 21%;
    font-size: 22px;
  }

}
@media screen and (max-width:1220px){
  .name{
    top: 23%;
    font-size: 21px;
  }
  .stats{
    top: 29%;
    font-size: 14px;
  }
  .types p{
    top: 57%;
    font-size: 17px;
  }
}
@media screen and (max-width:1200px){
  .sprit > img{
    top: 44%;
    width: 105px;
  }
  .stats{
    top: 28%;
    font-size: 13px;
  }
  .weight{
    top: 47%;
    font-size: 15px;
  }
  .name{
    top: 21%;
    font-size: 20px;
  }
  .types p{
    top: 55%;
    font-size: 16px;
  }
}
@media screen and (max-width:1100px){
  .sprit > img{
    top: 42%;
    width: 102px;
  }
  .artwork > img{
    top: 21%;
    width: 230px;
  }
  .stats{
    top: 27%;
    font-size: 12px;
  }
  .weight{
    top: 45%;
    font-size: 15px;
  }
  .types p{
    top: 53%;
    font-size: 16px;
  }

}
@media screen and (max-width:1057px){
  .sprit > img{
    top: 42%;
    width: 85px;
  }
  .artwork > img{
    top: 20%;
    width: 225px;
  }
  .index {
    top: 22%;
    font-size: 16px;
  }
  .stats{
    top: 28%;
    font-size: 11px;
  }
  .weight{
    top: 44%;
    font-size: 15px;
  }
  .types p{
    top: 51%;
    font-size: 16px;
  }
}

@media screen and (max-width:1007px){
  .types p{
    top: 49%;
    font-size: 16px;
  }
}
@media screen and  (max-width: 1000px) {
  .artwork > img{
    top: 19%;
    width: 210px;
  }
  .weight{
    top: 42%;
    font-size: 14px;
  }
  .name{
    top: 21%;
    font-size: 19px;
  }
}
@media screen and (max-width:945px){
  .types p{
    top: 48%;
    font-size: 16px;
  }
}
@media screen and (max-width:925px){
  .stats{
    top: 26%;
    font-size: 10px;
  }
  .weight{
    top: 40%;
    font-size: 14px;
  }
  .name{
    top: 20%;
    font-size: 18px;
  }
  .types p{
    top: 47%;
    font-size: 16px;
  }
}
@media screen and (max-width:890px){
  .artwork > img{
    top: 20%;
    width: 175px;
  }
  .index {
    top: 21%;
    font-size: 14px;
  }
  .weight{
    top: 39%;
    font-size: 13px;
  }
  .types p{
    top: 46%;
    font-size: 14px;
  }
}
@media screen and (max-width:860px){
  .stats{
    top: 25.5%;
    font-size: 9px;
  }
  .weight{
    top: 38%;
    font-size: 12px;
  }
  .types p{
    top: 45%;
    font-size: 14px;
  }
}
@media screen and (max-width:830px){
  .types p{
    top: 44%;
    font-size: 14px;
  }
}
@media screen and (max-width:802px){
  .types p{
    top: 43%;
    font-size: 14px;
  }
}
@media screen and (max-width:795px){
  .artwork > img{
    top: 20%;
    width: 150px;
  }
  .index {
    top: 20%;
    font-size: 12px;
  }
  .stats{
    top: 24.5%;
    font-size: 9px;
  }
  .weight{
    top: 37%;
    font-size: 12px;
  }
  .name{
    top: 19.5%;
    font-size: 17px;
  }
}
@media screen and (max-width:772px){
  .stats{
    top: 24.3%;
    font-size: 9px;
  }
  .weight{
    top: 36%;
    font-size: 11px;
  }
  .types p{
    top: 42%;
    font-size: 13px;
  }
}
@media screen and (max-width:744px){

  .types p{
    top: 41%;
    font-size: 13px;
  }
  
  
}
@media screen and (max-width:716px){
  .stats{
    top: 24%;
    font-size: 8px;
  }
  .weight{
    top: 35%;
    font-size: 11px;
  }
  .types p{
    top: 40%;
    font-size: 13px;
  }
}
@media screen and (max-width:685px){
  .weight{
    top: 34.5%;
    font-size: 11px;
  }
  .name{
    top: 19.2%;
    font-size: 16px;
  }
  .types p{
    top: 39%;
    font-size: 13px;
  }
}
@media screen and (max-width:640px){
  .weight{
    top: 32.5%;
    font-size: 11px;
  }
  .name{
    top: 19%;
    font-size: 15px;
  }
}
@media screen and (max-width:590px){
  .name{
    top: 18.5%;
    font-size: 14px;
  }
}
@media screen and (max-width:361px){
  .index {
    left: 4%;
    top: 44%;
    font-size: 12px;
  }
  .ability {
    left: 80%;
    top: 275px;
    font-size: 15px;
  }
  .sprit > img{
    left: 4%;
    top: 45%;
    width: 45px;
  }
  .artwork > img{
    left: 7%;
    top:27%;
    width: 140px;
  }
  .stats{
    left: 83%;
    top: 48.5%;
    font-size: 7px;
  }
  .types p{
    
    top: 67.7%;
    font-size: 11px;
  }
  .weight{
    left: 80%;
    top: 62%;
    font-size: 9px;
  }
  .name{
    left: 50%;
    top: 43.5%;
    font-size: 12px;
  }
  div img{
    margin-top: 30%;
    max-width: 100%;
}
.entry{
  width: 60px;
  left: 56.5%;
  top: 344px;
  font-size: 4.3px;
}
div form input{
  padding:13px;
  width: 15em;
  font-size: 1.2em;
}
}