::-webkit-scrollbar {
  width: 1.5em;
  height: 1em;
}

::-webkit-scrollbar-track {
  background: #EBEAEA;
  border-radius: 100vw;
  margin-block: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: #140941;
  border: 0.15em solid #EBEAEA;
  border-radius: 100vw;
  height: 5rem;
}
::-webkit-scrollbar-thumb:hover {
  background: #F8003F;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu";
  text-decoration: none;
  list-style: none;
}
html{
  scroll-behavior: smooth;
}
body {
  background: #140941;
  max-width: 100vw;
 
}
main{
  margin-bottom: 5rem;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 10%;
}
.navbar ul {
  display: flex;
  align-items: center;
}
.navbar li {
  display: inline-block;
  padding-left: 1.5rem;
  
}
.navbar ul li img{
  display: flex;
  align-items: center;
  width: 1.8rem;
}
header .logo {
  display: flex;
  align-items: center;

}
header .logo img,a{
  padding-left: 0.2rem;
}
header .logo img{
  width: 2rem;
}
.title{
  color: #F8003F;
  font-size: 1.2rem;
}
.title .io{
  color: #EBEAEA;
}
.h1{
  position: relative;
  margin-left: 15%;
  margin-top: 7%;
  margin-bottom: 4%;
  margin-right: auto;
  width: 70%;
  align-items: center;
}
h1{
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  color: #F8003F;
}
h1 .most{
  color: #EBEAEA;
}

.searchBar {
  position: relative;
  padding: 4.5rem 10%;
}
.searchBar form{
  width: 100%;
}
.searchBar form input{
 display: block;
 width: 100%;
 padding:1.3rem;
 left: auto;
 right: auto;
 border-radius: 30rem;
 font-size: 0.99rem;
 border: none;
 background:#EBEAEA ;
 color: #140941;

}
.searchBar .or{
  color: #F8003F;
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem;
}
.searchBar .filters {
  display: flex;
  align-items: center;
  font-size: 0.7rem;
  justify-content: space-between;
}
.searchBar .filters .drop {
 
  display: flex;
  color: #EBEAEA;
  margin: auto 0.5rem auto 0;
  border : 2.5px solid #EBEAEA ;
  padding: 0.3rem;
  border-radius: 10%;
 
}
.searchBar .filters .filter {
  display: inline-block;
  font-size: 0.9rem;
  border: none;
  padding-right: 0.2rem;
  font-weight: 600;
}
.drop img {
  margin-left: 0.2rem;
  width: 0.5rem;
}


.pokeList{
  width:80%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-gap: 5rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem,1fr));
  align-items: start;
}

.pokeList .card{
  margin-left: auto;
  margin-right: auto;
  bottom:10%;
  width: 250px;
  height: 350px;
  border-radius: 8%;
}
.grass{
  background: #B1F1A0;
}
.grass:hover{
  filter: drop-shadow(0 0 0.90rem #B1F1A0);
}
.fire{
  background: #FFC2B5;

}
.fire:hover{
  filter: drop-shadow(0 0 0.90rem #FFC2B5);
}
.water{
  background: #ADD3FF;
}
.water:hover{
  filter: drop-shadow(0 0 0.90rem #ADD3FF);
}
.ground{
  background: #D59567;
}
.ground:hover{
  filter: drop-shadow(0 0 0.90rem #D59567);
}
.bug{
  background: #F5FFA0;
}
.bug:hover{
  filter: drop-shadow(0 0 0.90rem #F5FFA0);
}
.dark{
  background: #D49188;
}
.dark:hover{
  filter: drop-shadow(0 0 0.90rem #D49188);
}
.dragon{
  background: #959FFF; 
}
.dragon:hover{
  filter: drop-shadow(0 0 0.90rem #959FFF);
}
.electric{
  background: #FFE592; 
}
.electric:hover{
  filter: drop-shadow(0 0 0.90rem #FFE592);
}
.fairy{
  background: #FEB5FF;
}
.fairy:hover{
  filter: drop-shadow(0 0 0.90rem #FEB5FF);
}
.fighting{
  background: #FFCFA0; 
}
.fighting:hover{
  filter: drop-shadow(0 0 0.90rem #FFCFA0);
}
.flying{
  background: #95CBFF; 
}
.flying:hover{
  filter: drop-shadow(0 0 0.90rem #95CBFF);
}
.ghost{
  background: #D68FD7;
}
.ghost:hover{
  filter: drop-shadow(0 0 0.90rem #D68FD7);
}
.ice{
  background: #CAF4FF;
}
.ice:hover{
  filter: drop-shadow(0 0 0.90rem #CAF4FF);
}
.normal{
  background: #BDBDBD;
}
.normal:hover{
  filter: drop-shadow(0 0 0.90rem #dfdfdf);
}
.poison{
  background: #CE9CF5;
}
.poison:hover{
  filter: drop-shadow(0 0 0.90rem #CE9CF5);
}
.psychic{
  background: #FF92B3;
}
.psychic:hover{
  filter: drop-shadow(0 0 0.90rem #FF92B3);
}
.rock{
  background: #F0E9B7;
}
.rock:hover{
  filter: drop-shadow(0 0 0.90rem #F0E9B7);
}
.steel{
  background: #D1F3FF;
}
.steel:hover{
  filter: drop-shadow(0 0 0.90rem #D1F3FF);
}
.cardHead{
  position: relative;
  background: white;
  border-radius: 8% 8% 0 0;
  height: 220px;
}
.effect {
 opacity: 0.2;
}

.pokeList .card .cardHead img{
  position: relative;
  display:block;

  left: 5%;
  right: auto;
  object-fit: scale-down
}

.cardHead .index{
  background: #140941;
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  right: 8px;
  top: 8px;
  text-align: center;
}
.cardHead .index p{
  margin-top: 12px;
  font-size: 0.9rem;
  color: #EBEAEA;
  font-weight: 550;
}
.cardDetail div{
  margin-left: 0px;
  padding-left: 0px;
  display: flex;
  align-items: center;
}
.cardDetail div img{
  width: 70px;
  height: 14px;
}
.cardDetail div p{
  font-size: 23px;
  font-weight: 600;
  color: #140941;
  margin:15px;
  text-transform: capitalize
}
.cardDetail .stats{
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.cardDetail .stats1 li{
  color:  #140941;
  font-weight: 600;
  padding-left: 15px;
  font-size: 0.9rem;
}

.cardDetail .stats2 li{
  color:  #140941;
  font-weight: 600;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 0.9rem;
}
.scroll{
  display: flex;
  position: fixed;
  width: 5rem;
  height: 5rem;
  right: 20px;
  bottom: 20px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
}
.scroll.active{
  pointer-events: auto;
  opacity: 1;
}
.filtered{
  display: none !important;
}
@media screen and (min-width:700px){
  .title{
    font-size: 1.7rem;
  }
  .h1{
    width: 70%;
  }
  h1{
  font-size: 2.8rem;
  }
  .searchBar input{
  font-size: 1.1rem;
  padding: 1.6rem;
  }
}

@media screen and (min-width:800px){

  .searchBar{
    display: flex;
    justify-content: space-between;
  }
  .searchBar .filters{
    font-size: 90%;
    
  }
  
}
@media screen and (min-width:1100px){
  header .logo img{
    width: 2.7rem;
  }
.searchBar input{
  width: 100%;
}
.searchBar .filters {
  width: 100%;
}
.searchBar .filters .drop{
  margin: auto 0.1rem auto 0;
  padding: 0.5rem 0.8rem;
  font-size: 0.8rem;
}
.searchBar .filters .filter {
  font-size: 1.2rem;
}
}
@media screen and (min-width:1400px){
  .searchBar input{
    padding: 2rem;
    font-size: 1.5rem;

  }
  .searchBar .filters .drop{
    padding: 0.5rem 1.5rem;
    margin: 0.2rem;
    font-size: 1.3rem;
  }
  h1{
    font-size: 5rem;

  }
  .searchBar .or{
    font-size: 2rem;
  }
  .title{
    font-size: 2.5rem;

  }
}