::-webkit-scrollbar {
  width: 1.5em;
  height: 1em;
}

::-webkit-scrollbar-track {
  background: #ebeaea;
  border-radius: 100vw;
  margin-block: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: #140941;
  border: 0.15em solid #ebeaea;
  border-radius: 100vw;
  height: 5rem;
}
::-webkit-scrollbar-thumb:hover {
  background: #796bb3;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu";
  text-decoration: none;
  list-style: none;
}
.cardDetail .types{
  display: block;
  
}

html {
  scroll-behavior: smooth;
}
body {
  background: #140941;
  max-width: 100vw;
}
main {
  margin-bottom: 5rem;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 10%;
}
.navbar ul {
  display: flex;
  align-items: center;
}
.navbar li {
  display: inline-block;
  padding-left: 1.5rem;
  color: #ebeaea;
  cursor: pointer;
  align-items: center
}
.navbar li a {
  display: inline-block;
  color: #ebeaea;
  cursor: pointer;
  align-items: center
}
.navbar ul li img {
  display: flex;
  align-items: center;
  width: 1.8rem;
  
}
header .logo {
  display: flex;
  align-items: center;
}
header .logo img,
a {
  padding-left: 0.2rem;
}
header .logo img {
  width: 2rem;
}
.title {
  color: #f8003f;
  font-size: 1.2rem;
  font-weight: bold;
}
.title .io {
  color: #ebeaea;
}
.h1 {
  position: relative;
  margin-left: 15%;
  margin-top: 7%;
  margin-bottom: 4%;
  margin-right: auto;
  width: 70%;
  align-items: center;
}
h1 {
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  color: #f8003f;
  text-shadow: 0 0.1em 0.3em rgb(0,0,0, 0.2);
  
}
h1 .most {
  color: #ebeaea;
}
.searchBar .filters .container .show{
  display: none;
}

.searchBar {
  align-items: center;
  position: relative;
  padding: 4.5rem 10%;
}
.searchBar form {
  width: 100%;
}
.searchBar form input {
  display: block;
  width: 100%;
  padding: 1.3rem;
  left: auto;
  right: auto;
  border-radius: 30rem;
  font-size: 0.99rem;
  border: none;
  background: #ebeaea;
  color: #140941;
}

.searchBar .or {
  color: #f8003f;
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem;
}
.searchBar .filters {
  display: flex;
  align-items: center;
  font-size: 0.7rem;
  justify-content: space-between;
}
.searchBar .filters .drop {
  width: 3rem;
  font-size: 0.7rem;
  margin: auto 0.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ebeaea;
  border-radius: 0.5em;
}
.searchBar .filters .container .drop {
  display: flex;
  color: #ebeaea;
  background: #2e314e;
  border-radius: 0.5em ;
  cursor: pointer;
  
}
.searchBar .filters .filter {
  display: none;
  
  border: none;
  padding-right: 0.2rem;
  font-weight: 600;
}
.searchBar .filters .filter p {
  font-size: 1.5rem;

}
.searchBar .filters .container .sub {
  position: absolute;
  background: #2e314e;
  z-index: 1;
  box-shadow: 0 0.5em 1em rgb(0,0,0, 0.2);
  border-radius:0.5em;
  cursor: pointer;
  transition: ease-in-out 1s linear;
}
.searchBar .filters .container .drop:hover{
  
  background: #5a5f91;
}
.searchBar .filters .generation{
  width: 7rem !important;
  padding: .5rem;
}
.searchBar .filters .name{
  width: 7rem !important;
  padding: .5rem;
}
.searchBar .filters .type{
  width: 5rem !important;
  padding: .5rem;
}
.searchBar .filters .filter {
  font-size: 1.2rem;
}
.searchBar .filters .container .sub li{
  font-size: 0.7rem;
  margin: 0.3rem 0.2rem;
  padding: .2rem .2rem;
  display: block;
  color: #ebeaea;
  text-align: center;
  
  border-radius:0.5em;
  
}
.searchBar .filters .container .a {
  width: 80px !important;
  padding: auto 0.5rem;
  margin: 6px 8px;
  
}
.searchBar .filters .container .b {
  width: 112px !important;
  padding: auto 0.5rem;
  margin: 6px 8px;;
}
.searchBar .filters .container .c {
  width: 7rem !important;
  padding: auto 0.5rem;
  margin: 6px 8px;
}
.searchBar .filters .container .sub li:hover{
  background: #5a5f91;
}
.drop img {
  margin-left: 0.2rem;
  width: 0.5rem;
  transition: 0.3s;
}
.rotate{
  transform: rotate(180deg);
}

.pokeList {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-gap: 5rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  align-items: start;
}

.pokeList .card {
  margin-left: auto;
  margin-right: auto;
  bottom: 10%;
  width: 250px;
  height: 350px;
  border-radius: 1.5rem;
  box-shadow: 0 0.3em 0.5em rgb(0,0,0, 0.2)
}
.pokeList .card .buttons {
  background-color: rgb(8%, 4%, 25%, 60%);
  width: 250px;
  height: 350px;
  border-radius: 1.5rem;
  backdrop-filter: blur(5rem);
  position: relative;
  -ms-transform: translateY(-96.6%);
  transform: translateY(-96.6%);
}
.pokeList #866 div.buttons {
  -ms-transform: translateY(-82%)!important;
  transform: translateY(-82%)!important;
}

.pokeList .card .buttons a {
  -ms-transform: translateY(450%);
  transform: translateY(450%);
  padding: 7px 10px;
  margin: 20px 40px;
  display: block;
  background: #ebeaea;
  text-align: center;
  border-radius: 2rem;
  color: #140941;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grass {
  background: #b1f1a0;
}
.grass:hover {
  filter: drop-shadow(0 0 0.9rem #b1f1a0);
}
.fire {
  background: #ffc2b5;
}
.fire:hover {
  filter: drop-shadow(0 0 0.9rem #ffc2b5);
}
.water {
  background: #add3ff;
}
.water:hover {
  filter: drop-shadow(0 0 0.9rem #add3ff);
}
.ground {
  background: #d59567;
}
.ground:hover {
  filter: drop-shadow(0 0 0.9rem #d59567);
}
.bug {
  background: #f5ffa0;
}
.bug:hover {
  filter: drop-shadow(0 0 0.9rem #f5ffa0);
}
.dark {
  background: #d49188;
}
.dark:hover {
  filter: drop-shadow(0 0 0.9rem #d49188);
}
.dragon {
  background: #959fff;
}
.dragon:hover {
  filter: drop-shadow(0 0 0.9rem #959fff);
}
.electric {
  background: #ffe592;
}
.electric:hover {
  filter: drop-shadow(0 0 0.9rem #ffe592);
}
.fairy {
  background: #feb5ff;
}
.fairy:hover {
  filter: drop-shadow(0 0 0.9rem #feb5ff);
}
.fighting {
  background: #ffcfa0;
}
.fighting:hover {
  filter: drop-shadow(0 0 0.9rem #ffcfa0);
}
.flying {
  background: #95cbff;
}
.flying:hover {
  filter: drop-shadow(0 0 0.9rem #95cbff);
}
.ghost {
  background: #d68fd7;
}
.ghost:hover {
  filter: drop-shadow(0 0 0.9rem #d68fd7);
}
.ice {
  background: #caf4ff;
}
.ice:hover {
  filter: drop-shadow(0 0 0.9rem #caf4ff);
}
.normal {
  background: #bdbdbd;
}
.normal:hover {
  filter: drop-shadow(0 0 0.9rem #dfdfdf);
}
.poison {
  background: #ce9cf5;
}
.poison:hover {
  filter: drop-shadow(0 0 0.9rem #ce9cf5);
}
.psychic {
  background: #ff92b3;
}
.psychic:hover {
  filter: drop-shadow(0 0 0.9rem #ff92b3);
}
.rock {
  background: #f0e9b7;
}
.rock:hover {
  filter: drop-shadow(0 0 0.9rem #f0e9b7);
}
.steel {
  background: #d1f3ff;
}
.steel:hover {
  filter: drop-shadow(0 0 0.9rem #d1f3ff);
}
.cardHead {
  position: relative;
  background: white;
  border-radius: 1.5rem 1.5rem 0 0;
  height: 220px;
}

.pokeList .card .cardHead img {
  position: relative;
  display: block;

  left: 5%;
  right: auto;
  object-fit: scale-down;
}

.cardHead .index {
  background: #140941;
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  right: 8px;
  top: 8px;
  text-align: center;
}
.cardHead .index p {
  margin-top: 12px;
  font-size: 0.9rem;
  color: #ebeaea;
  font-weight: 550;
}
.cardDetail div {
  margin-left: 0px;
  padding-left: 0px;
  display: flex;
  align-items: center;
}
.cardDetail div img {
  width: 70px;
  height: 14px;
}
.cardDetail div p {
  font: size 0.7srem;

  font-weight: 600;
  color: #140941;
  margin: 13px 7px;
  text-transform: capitalize;
}
.cardDetail .stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5%;
}

.cardDetail .stats1 li {
  color: #140941;
  font-weight: 600;
  padding-left: 15px;
  font-size: 0.8rem;
}

.cardDetail .stats2 li {
  color: #140941;
  font-weight: 600;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 0.8rem;
}
.scroll {
  display: flex;
  position: fixed;
  width: 3rem;
  height: 3rem;
  right: 10px;
  bottom: 10px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
  background: #f8003f;
  border-radius: 50%;
  justify-content: center;
  z-index: 2;
}
.scroll.active {
  pointer-events: auto;
  opacity: 1;
}
.scroll .arrow {
  display: relative;
  margin-right: 2.3px;
  margin-top: 7.8px;
  width: 2rem;
  height: 2rem;
}
.filtered {
  display: none !important;
}
@media screen and (min-width: 700px) {
  .title {
    font-size: 1.7rem;
  }
  .h1 {
    width: 70%;
  }
  h1 {
    font-size: 2.8rem;
  }
  .searchBar input {
    font-size: 1.1rem;
    padding: 1.6rem;
  }
  
}

@media screen and (min-width: 800px) {
  .searchBar {
    display: flex;
    justify-content: space-between;
  }
  .searchBar .filters {
    font-size: 90%;
  }
  .searchBar .filters .drop  {
    width: 5rem;
    font-size: 0.8rem;
    margin: auto 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .searchBar .filters .generation{
    width: 8rem !important;
    padding: .5rem;
  }
  .searchBar .filters .name{
    width: 7rem !important;
    padding: .5rem;
  }
  .searchBar .filters .type{
    width: 5rem !important;
    padding: .5rem;
  }
  .searchBar .filters .filter {
    font-size: 1.2rem;
  }
  .searchBar .filters .container .sub li{
    font-size: 0.9rem;
    margin: 0.3rem 0.2rem;
    padding: .2rem .2rem;
    
  }
  .searchBar .filters .container .a {
    width: 80px !important;
    padding: auto 0.5rem;
    margin: 6px 8px;
    
  }
  .searchBar .filters .container .b {
    width: 112px !important;
    padding: auto 0.5rem;
    margin: 6px 8px;;
  }
  .searchBar .filters .container .c {
    width: 128px !important;
    padding: auto 0.5rem;
    margin: 6px 8px;
  }
}
@media screen and (min-width: 1100px) {
  header .logo img {
    width: 2.7rem;
  }
  .searchBar input {
    width: 100%;
  }
  .searchBar .filters {
    width: 100%;
  }
  .searchBar .filters .drop{
    width: 7.5rem;
    height: 36px;
    font-size: 0.9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  .searchBar .filters .generation{
    width: 8rem !important;
    padding: .5rem;
  }
  .searchBar .filters .name{
    width: 7rem !important;
    padding: .5rem;
  }
  .searchBar .filters .type{
    width: 5rem !important;
    padding: .5rem;
  }
  .searchBar .filters .filter {
    font-size: 1.2rem;
  }
  .searchBar .filters .container .sub li{
    font-size: 0.9rem;
    margin: 0.3rem 0.2rem;
    padding: .2rem .2rem;
    
  }
  .searchBar .filters .container .a {
    width: 80px !important;
    padding: auto 0.5rem;
    margin: 6px 8px;
    
  }
  .searchBar .filters .container .b {
    width: 112px !important;
    padding: auto 0.5rem;
    margin: 6px 8px;;
  }
  .searchBar .filters .container .c {
    width: 128px !important;
    padding: auto 0.5rem;
    margin: 6px 8px;
  }
}
@media screen and (min-width: 1400px) {
  .searchBar{
    align-items: center;
  }
  .searchBar input {
    padding: 2rem;
    font-size: 1.5rem;
  }
  .searchBar .filters .drop {
    width: 9rem;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .searchBar .filters .generation{
    width: 10rem !important;
    padding: .7rem;
  }
  .searchBar .filters .name{
    width: 8rem !important;
    padding: .7rem;
  }
  .searchBar .filters .type{
    width: 7rem !important;
    padding: .7rem;
  }
  .searchBar .filters .container .sub li{
    font-size: 1rem;
    margin: 0.3rem 0.2rem;
    padding: .2rem .2rem;
    
  }
  .searchBar .filters .container .a {
    width: 112px !important;
    padding: auto 0.5rem;
    margin: 10px 8px;
    
  }
  .searchBar .filters .container .b {
    width: 128px !important;
    padding: auto 0.5rem;
    margin: 10px 8px;
  }
  .searchBar .filters .container .c {
    width: 160px !important;
    padding: auto 0.5rem;
    margin: 10px 8px;
  }
  h1 {
    font-size: 5rem;
  }
  .searchBar .or {
    font-size: 2rem;
  }
  .title {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 415px){
  
  .searchBar .filters .name{
    width: 5rem !important;
    padding: .5rem;
  }
  .searchBar .filters .container .b {
    width: 80px !important;
    padding: auto 0.5rem;
    margin: 6px 4.8px;;
  }
  .searchBar .filters .container .a {
    width: 80px !important;
    padding: auto 0.5rem;
    margin: 6px 4.8px;
    
  }
  .searchBar .filters .container .c {
    margin: 6px 4.8px;
    
  }
}
@media screen and (max-width: 799px){
.searchBar .filters .container .b {
  width: 112px ;
  padding: auto 0.5rem;
  margin: 6px 4.8px;;
}
.searchBar .filters .container .a {
  width: 80px !important;
  padding: auto 0.5rem;
  margin: 6px 4.8px;
  
}
.searchBar .filters .container .c {
  margin: 6px 4.8px;
  
}
}
@media screen and (min-width: 800px){
  .searchBar p span{
    display: none;
  }
  .searchBar .or{
    font-size: 2rem;
  }
}